body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-header {
  background-color: antiquewhite;
}
 .form-control:hover{
  background-color: blanchedalmond;
 }
 button:hover{
   background-color: blanchedalmond;
 }
.button{
  background: aqua;
  background-color: beige;
}

 .nav-item:hover {
  background-color: beige;
} 
.nav-item-active {
  background-color: blanchedalmond;
}

input {
  border: 2px solid currentcolor;
}
input:invalid {
  border: 2px dashed red;
}
input:invalid:focus {
  background-image: linear-gradient(pink, lightgreen);
}